#include <windows.h>
#include "resource.h"

IDI_MAIN ICON "main.ico"
IDI_GO ICON "go.ico"
IDI_REFRESH ICON "refresh.ico"
IDI_SEARCH ICON "search.ico"
IDI_CANCEL ICON "search.ico"
IDI_NAV_ARROW ICON "nav_arrow.ico"
IDI_PRELOADER_1 ICON "preloader_1.ico"
IDI_PRELOADER_2 ICON "preloader_2.ico"
IDI_PRELOADER_3 ICON "preloader_3.ico"
IDI_PRELOADER_4 ICON "preloader_4.ico"
IDI_PRELOADER_5 ICON "preloader_5.ico"
IDI_PRELOADER_6 ICON "preloader_6.ico"
IDI_PRELOADER_7 ICON "preloader_7.ico"
IDI_PRELOADER_8 ICON "preloader_8.ico"
IDB_TOOLBAR BITMAP "toolbar.bmp"

IDM_MAIN_MENU MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Exit", ID_FILE_EXIT
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Cut", ID_EDIT_CUT
        MENUITEM "Copy", ID_EDIT_COPY
        MENUITEM "Paste", ID_EDIT_PASTE
        MENUITEM "Paste Shortcut", ID_EDIT_PASTE_SHORTCUT
        MENUITEM SEPARATOR
        MENUITEM "Select All", ID_EDIT_SELECT_ALL
    END
    POPUP "View"
    BEGIN
        MENUITEM "Large Icons", ID_VIEW_LARGEICONS
        MENUITEM "Small Icons", ID_VIEW_SMALLICONS
        MENUITEM "List", ID_VIEW_LIST
        MENUITEM "Details", ID_VIEW_DETAILS
    END
    POPUP "Help"
    BEGIN
        MENUITEM "About", ID_HELP_ABOUT
    END
END

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Application.manifest"

IDD_INPUT DIALOGEX 0, 0, 239, 61
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 125, 41, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 182, 41, 50, 14
    LTEXT "Label", IDC_LABEL, 6, 6, 226, 12
    EDITTEXT IDC_EDIT, 6, 21, 226, 12, ES_AUTOHSCROLL
END

IDD_ABOUT DIALOGEX 0, 0, 153, 70
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	ICON IDI_MAIN, IDC_STATIC, 125, 14, 20, 20
	LTEXT "Winlator File Manager", IDC_STATIC, 7, 7, 116, 12
	LTEXT "Version 1.1", IDC_STATIC, 7, 19, 116, 9
	LTEXT "by BrunoSX", IDC_STATIC, 7, 31, 114, 9
	DEFPUSHBUTTON "OK", IDOK, 51, 50, 50, 14, WS_GROUP
END

IDD_FILE_ACTION DIALOGEX 0, 0, 160, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	ICON IDI_PRELOADER_1, IDC_PRELOADER, 60, 5, 64, 64
	CTEXT "Loading...", IDC_LABEL, 0, 55, 160, 10
    PUSHBUTTON "Cancel", IDCANCEL, 55, 70, 50, 14
END